html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#main-svg {
  width: 100%;
  height: 100%;
  /* height: 100vh; */
}

#main-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  margin: 0px;
  font-family: Nunito, sans-serif;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75px auto 50px;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
  /* grid-area: header; */
  grid-column: 1/4;
  grid-row: 1/3;
  /* position: fixed;
  top: 0; */
  z-index: 100;
}

.header {
  height: 100%;
  width: 100%;
  background-color: #006d77;
}

.header.top-header {
  grid-area: header;
  position: fixed;
  top: 0;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  color: white;
  background-color: #e29578;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer span,
.footer a {
  margin: 0em 0.75em;
}

.footer-link {
  color: white;
}

#Coffee {
  filter: url("#fancy-goo");
}

#contact-form {
  width: 70%;
  position: absolute;
  font-style: normal;
  text-align: center;
  border-radius: 20px;
  font-family: Nunito, sans-serif;
  background-color: #ffddd2;
  border: #e29578 2px solid;
}

.content-section {
  grid-area: main;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin-top: 50px;
}

#about-me {
  background-color: #ffddd2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-section-3 {
  text-align: center;
  border-radius: 20px;
  font-family: Nunito, sans-serif;
  background-color: #edf6f9;
  border: #006d77 4px solid;
  padding: 5px;
  margin: 0.5em;
}

#envelope {
  height: 5em;
  width: 5em;
}

.clickable {
  cursor: pointer;
}

.img-content-3 {
  margin: 10px;
}

.project-button {
  border-radius: 5px;
  width: 5em;
  font-family: Nunito, sans-serif;
  font-size: 20px;
  color: white;
  background-color: #006d77;
  border: white;
  margin: 0.5em;
}

.project-button-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.message-area {
  width: 70%;
  min-height: 3em;
}

button.close {
  float: right;
  margin: 1em 1em 0em 0em;
}

.modal-header-primary {
  margin-top: 1.5em;
  margin-bottom: 0em;
}

@media only screen and (max-width: 899px) {
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .project-section-3 {
    width: 90%;
  }

  #about-me {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .img-content {
    width: 50%;
  }

  .text-content {
    width: 90%;
    text-align: left;
  }
}

@media only screen and (min-width: 900px) {
  #projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .project-section-3 {
    width: 450px;
    height: 500px;
  }
  #about-me {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .img-content {
    width: 40%;
  }

  .text-content {
    width: 50%;
    text-align: left;
  }

  .text-content > h1 {
    margin-top: 0px;
  }
}

.inline-subheader {
  font-weight: bold;
}

.hover-arrow:focus {
  outline: none;
}
