#main-svg {
  margin: 15vmin;
  width: 80vw;
  height: 80vh;
}

#Coffee {
  filter: url("#fancy-goo");
}

#contact-form {
  background-color: #e7f6f9;
  width: 50%;
  position: absolute;
  border-radius: 20px;
  font-family: nunito, sans-serif;
  font-weight: 400;
  font-style: normal;
}

#envelope {
  height: 5em;
  width: 5em;
}

#contact-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.clickable {
  cursor: pointer;
}
